*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background: #EEE;
  font-family: days-one, sans-serif;
}
#bgCanvas {
  position: fixed;
  z-index: -10;
  opacity: 0.5;
  top: 0px;
  left: 0px;
}

/***************** CONTROL PANEL ****************/
#cp {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 100%;
  color: #FFF;
  overflow: hidden;
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #1a1a1a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%,#1a1a1a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%,#1a1a1a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%,#1a1a1a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
  box-shadow: 2px 0px 20px rgba(0,0,0,0.5);
}

#gametitle {
  padding: 25px;
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  text-shadow: 1px 1px 4px #000;
}
  .capT {
    letter-spacing: -14px;
    font-size: 1.2em;
  }
  .tl6 {
    letter-spacing: -14px;
  }
  #instructions {
    display: none;
    position: relative;
    z-index: 10;
    width: 75%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 12px;
    background: rgba(0,0,0,0.5);
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
    font-family: actor, sans-serif;
    font-size: 1;
  }
    #instructions li {
      display: none;
      padding: 10px 6px;
      border-bottom: 1px dotted #666;
    }
    #instructions li:last-child {
      border-bottom: none;
    }

  .decBar {
    z-index: 1;
    position: absolute;
    left: -125%;
    bottom: 0%;
    width: 250%;
    box-shadow: -1px 0px 3px rgba(0,0,0,0.4);
    transform:rotate(15deg);
    -ms-transform:rotate(15deg); 
    -webkit-transform:rotate(15deg); 
  }

  #decorativeBar1 {
    background: #E5B711;
    height: 17%;
  }
  #decorativeBar2 {
    background: #E58A2D;
    height: 27%;
  }
  #decorativeBar3 {
    background: #E56227;
    height: 35%;
    opacity: 0.9;
  }
  #decorativeBar4 {
    background: #E54C29;
    height: 40%;
    opacity: 0.7;
  }
/*************** GAME ***************/
#game {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 65%;
  height: 100%;
}
#gameboard {
  position: relative;
  z-index: 20;
  width:60%;
  height: auto; /* Set by jQuery */
  margin: 35px auto;
  border: 1px solid #AAA;
  background: #FAFAFA;
  border-radius: 3px;
  padding: 1px;
}
#gameboard > div {
  position: relative;
  float: left;
  width: 33.33333333333%;
  height: 33.33333333333%;
  padding: 1px;
}
  .gamecell {
    width: 100%;
    height: 100%;
    border: 1px solid #DDD;
    background: #FFF;

    /* Styles for X's and O's */
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#winLineTL {
  display: none;
  position: absolute;
  z-index: 25;
  width: 130%;
  height: 33.333%;
  top: 33%;
  left: -15%;
  background: #789023;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); 
  -webkit-transform:rotate(45deg); 
}
#winLineTR {
  display: none;
  position: absolute;
  z-index: 25;
  width: 130%;
  height: 33.333%;
  top: 33%;
  right: -15%;
  background: #789023;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); 
  -webkit-transform:rotate(-45deg); 
}



.X, .O {
  position: relative;
  z-index: 21;
  display: block;
  width: 100%;
  height: 100%;
}
.X {
  color: #E95040;
}
.O {
  color: #039EA6;
}
#winBackground {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #025870;
}
  #winText {
    position: relative;
    z-index: 5;
    top: -50%;
    height: 50%;
    left: 3%;
    color: #FFF;
  }
    #winText h2 {
      width: 40%;
      border-bottom: 5px solid #3192AD;
      font-size: 80px;
      font-weight: normal;
    }
    #winText h4 {
      letter-spacing: -1px;
      font-size: 26px;
      margin: 20px;
      font-family: actor, sans-serif;
    }
    #victorySteps {
      position: absolute;
      z-index: 5;
      top: 80%;
      color: #FFF;
      left: -30%;
      padding: 15px 20px 15px 50px;
      background: rgba(0,0,0,0.5);
      font-size: 16px;
      border-radius: 0px 10px 10px 0px;
      text-transform: uppercase;
    }
    #moveCount {
      font-size: 1.6em;
    }
  #winLetter {
    
    position: absolute;
    z-index: 2;
    left: -70px;
    bottom: -180px;
    width: 350px;
    font-size: 600px;
    text-align: center;
    color: #FFF;
    opacity: 0;
    text-shadow: 0px 0px 40px #000;
  }

#loseBackground {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8C2300;
}
  #loseText {
    position: relative;
    z-index: 5;
    top: -50%;
    height: 50%;
    left: 3%;
    color: #FFF;
  }
    #loseText h2 {
      width: 40%;
      border-bottom: 5px solid #BA451E;
      font-size: 90px;
      font-weight: normal;
    }
    #loseText h4 {
      letter-spacing: -1px;
      font-size: 26px;
      margin: 20px;
      font-family: actor, sans-serif;
    }
#tieBackground {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
}
  #tieText {
    position: relative;
    z-index: 5;
    top: -50%;
    height: 50%;
    left: 3%;
    color: #FFF;
  }
    #tieText h2 {
      width: 40%;
      border-bottom: 5px solid #555555;
      font-size: 80px;
      font-weight: normal;
    }
    #tieText h4 {
      letter-spacing: -1px;
      font-size: 26px;
      margin: 20px;
      font-family: actor, sans-serif;
    }

.newGameButton {
  position: absolute;
  display: none;
  z-index: 500;
  bottom: 0%;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  background: rgba(0,0,0,0.45);
  padding: 25px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 60px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -3px 25px rgba(0,0,0,0.25);
  opacity: 0;
  transition: 0.15s;
}
  .newGameButton:hover {
    background: rgba(20,20,20,0.9);
    transition: 0.25s;
  }




/* Specific cell radius' */
#cell1-1 {
  border-radius: 12px 0px 0px 0px;
}
#cell1-3 {
  border-radius: 0px 12px 0px 0px;
}
#cell3-1 {
  border-radius: 0px 0px 0px 12px;
}
#cell3-3 {
  border-radius: 0px 0px 12px 0px;
}






@-webkit-keyframes fadeIn { from { opacity:0; margin-bottom: -75px; } to { opacity:1; margin-bottom: 0px; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeInPart { from { opacity:0; } to { opacity:0.25; } }
@-moz-keyframes fadeInPart { from { opacity:0; } to { opacity:0.25; } }
@keyframes fadeInPart { from { opacity:0; } to { opacity:0.25; } }
 















